@font-face {
    font-family: "Lato-Bold";
    src: url("../fonts/Lato-Bold.ttf");
}
@font-face {
    font-family: "Lato-Regular";
    src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
    font-family: "Lato-Italic";
    src: url("../fonts/Lato-Italic.ttf");
}

@font-face {
    font-family: "Lato-Light";
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato-Black.ttf");
}

body, html {
    height: 100%;
}



/**

        General

 */

div {
    color: #515151;
}

.panier {
    margin-top: 18px;
}

/**

        FIRST PAGE

 */



.bg {
    height: 100%;
    background-image: url("../img/backgroundSnow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg h3 {
    text-align: center;
    margin-top: 15vh;
    font-size: 10vmin;
    font-family: "Lato-Bold";
    color : white;
    text-shadow: 0px 0px 5px black;
}

.navBigSize {
    text-shadow: 0px 0px 5px black;

}

nav .brand-logo {
    text-shadow: 0px 0px 5px black;
    margin-left: 2vw;
    white-space: nowrap;
}

.navBigSize a:hover {
    background-color: transparent !important;
}

.content {
    min-height: 70vh;
}

nav {
    background-color: #2C3E50;
}

.description {
    text-align: center;
    margin-top: 5vh;
    font-family: "Lato-Light";
    color : white;
    text-shadow: 0px 0px 5px black;
}

.navHome {
    font-family: "Lato-Regular";
    background-color: transparent;
    color: white;
    box-shadow: none;
}
.active {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}
.buttonWhite {
    color: gray;
    background-color: white;
    border-bottom: 3px solid #929292;
    display: block;
    height: 40px;
    width: 100px;
    margin: auto;
    margin-top: 8vh;
    padding-top: 8px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}
.socialNetworks {
    margin-top: 10vh;
}
.instagram {
    background: url("../img/instagram.png") no-repeat;
    background-repeat: no-repeat;
    height:50px;
    width:50px;
    background-position:center;
}
.facebook {
    background: url("../img/facebook.png") no-repeat;
    background-repeat: no-repeat;
    background-position:center;
    height:50px;
    width:50px;
    padding-left: -30px;
}

.instagram-footer {
    background: url("../img/instagram-footer.png") no-repeat;
    background-repeat: no-repeat;
    height:50px;
    width:50px;
    display: inline-block;
    background-position:center;
}
.facebook-footer {
    background: url("../img/facebook-footer.png") no-repeat;
    background-repeat: no-repeat;
    background-position:center;
    display: inline-block;
    height:50px;
    width:50px;
    padding-left: -30px;
}

/*
    Service section
 */

.separator {
    margin-top: 10vh;
}

.services {
    height: 100%;
    display: block;
}

.services h3 {
    margin-top: 10vh;
    text-align: center;
    font-family: Lato-Bold;
}

.services .information {
    font-size: 1.5vmax;
    text-align: center;
    margin-bottom: 10vh;
}

.pictograms {
    margin-top: 5vh;
    height: 15vh;
}

.buttonGray {
    color: white;
    background-color: #6E6E6E;
    border-bottom: 3px solid #4B4B4B;
    display: block;
    margin: auto;
    margin-top: 5vh;
    height: 40px;
    width: 150px;
    padding-top: 8px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}

.button:hover {
    cursor: pointer;
}

.button {
    color: white;
    background-color: #6E6E6E;
    border-bottom: 3px solid #4B4B4B;
    display: inline-block;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 6px !important;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-family: Lato-Regular;
    font-size: 17px;
}

.buttonBlue {
    background-color: #5EA0FC !important;
    border-bottom: 3px solid #3F72B5 !important;
}

.buttonYellow {
    background-color: #C4B66D !important;
    border-bottom: 3px solid #8E8347 !important;
}

.buttonRed {
    background-color: #E78383 !important;
    border-bottom: 3px solid #B65D5C !important;
}

.buttonGreen {
    background-color: #8AC46D !important;
    border-bottom: 3px solid #619048 !important;
}

.buttonGray:hover {
    background-color: #949191;
}

.buttonWhiteBorder {
    color:  #6E6E6E;
    background-color: white;
    border: 3px solid #6E6E6E;
    display: block;
    margin: auto;
    height: 40px;
    width: 150px;
    padding-top: 6px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
}

.buttonWhiteBorder:hover {
    background-color: #E6E6E6;
}


.pictogram-center {
    border-left: 1px solid #515151;
    border-right: 1px solid #515151;
}

.consult {
    margin-top: 5%;
}

.consult-left h3 {
    margin-top: 3%;
    text-align: center;
    font-family: Lato-Bold;
}

.consult-left p {
    text-align: center;
}

/**
    FOOTER
 */

footer {
    background-color:#F8F8F8;
    margin-bottom: -20px;
    border-top: 1px solid #979797;
    margin-top: 5%;
    padding: 0px;

}

h6 {
    font-size: 1em;
    font-family: Lato-Bold;

}

.reseau-footer {
    margin-top: 10%;
}

.clear {
    clear: both;
}

/**

    GALLERY

 */

.gallery .inputDate {
    color: white;
    border: none;
    height: 30px;
    width: 150px;
    text-align: center;
    margin-left: 1vw;
    padding-left: 10px;
    border-bottom: 3px solid #2A2A2A;
    background: #4C4B4F url(../img/triangle.png) no-repeat scroll 120px 12px;
}

.gallery h3 {
    font-family: Lato-Bold;
    font-size: 7vmin;
}

.gallery h5 {
    font-family: Lato-Bold;
    font-size: 2.8vmin;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.viewer h3 {
    font-family: Lato-Bold;
    font-size: 7vmin;
}

.viewer h5 {
    font-family: Lato-Bold;
    font-size: 2.8vmin;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.album-title {
    font-family: Lato-Bold;
}

.photoAlbumGallery {
    height: 20vh;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    margin-top: 8vh;
    margin-bottom: 3vh;
    border-radius: 15px;
    display: block;
    -webkit-box-shadow: 2px 4px 7px -4px rgba(46,46,46,1);
    -moz-box-shadow: 2px 4px 7px -4px rgba(46,46,46,1);
    box-shadow: 2px 4px 7px -4px rgba(46,46,46,1);
}

.photoAlbumGallery:hover {
    -webkit-transform:scale(1.1);
    transition: .3s ease;
}

.photoAlbumGallery:not(hover) {

    -webkit-transform:scale(1);
    transition: .3s ease;
}

.separatorLine {
    border-bottom: 1px solid black;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
}

.gallery .sortBy {
    display: inline-block;
}

.alert-danger {
    border: 1px solid rgb(245,198,205);
    background-color: rgb(248,215,218);
    color : rgb(114,28,53);
}

.alert-success {
    border: 1px solid rgb(195,230,203);
    background-color: rgb(212,237,218);
    color : rgb(21,87,36);
}

.alert {
    width: 90%;
    border-radius: 5px;
    padding:10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/**
   VIEWER
 */

.image img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.nextImg {
    vertical-align:middle
}

.previousImg {
    vertical-align:middle
}

.nextPreviousA {
    color: #515151;
    font-family: Lato-Bold;
}

.nextPrevious {
    margin-top: 10vmax;
    display: block;
    width: 10px;
}

.nextPrevious {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.containerButtons {
    text-align: center;
}

.retourGallerie {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.retourGallerie a {
    font-size: 15px;
}


.containerButtons .button {
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.textInput {
    text-align: center;
    margin-top: 15px;
}

.prixPhoto {
    margin-top: 5vh;
    text-align: center;
    font-family: Lato-Bold;
    font-size: 20px;
}

.inputSelect {
    color: #283E52;
    border: none;
    height: 35px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-left: 3vw;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    border: 1px solid #283E52;
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em - 0px),
            calc(100% - 15px) calc(1em - 0px);
    background-size:
            5px 5px,
            5px 5px;
    background-repeat: no-repeat;
}

.messageSelect{
    margin-left: 5vw;
    width: 150px;
    text-align: center;
}

/**
        ALBUM
 */

.album {
    max-width: 900px;
    float: none;
    margin: auto;
    column-count: 3;
    margin-top: 20px;
    column-gap: 1rem;
    column-width: 33.333333%;
}

.tileSmall img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top : 20px;
}

.tileSmall {

}

.album .tile img {
    max-width: 100%;
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 1rem;
}

/**
        PANIER
 */

.noInputStyle {
    appearance: none;
    border:none;
    outline: none;
    margin-top: 5vh;
}

.emailInput {
    color: #283E52;
    border: none;
    height: 35px;
    width: 200px;
    text-align: center;
    display: inline-block;
    margin: auto;
    margin-top: 5vh;
    border: 1px solid #283E52;
}

.containerTableau {
    overflow-x:auto;
}

.tableauPanier {
    margin-top: 5vh;
}

.tableauPanier th {
    text-align: center;
    background-color: #EEEEEE;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
    border-top: 1px solid #979797;
}

.tableauPanier td {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid #979797;
}

.tableauPanier .noStyle {
    border: none !important;
}
.tableauPanier tfoot {
    font-family: Lato-Bold;
    color: black;
}
.tableauPanier tr {
    border: none;
    border-left: 10px solid #2D2D2D;
}

.buttonsPanier {
    margin-top: 5vh;
}

/**

    GESTION
 */

.champGerer {
    display: inline-block;
    width: 50%;
}

.choisirPhoto {
    display: none;
}

.buttonGerer {
    display: inline-block;
}

.gestion h3 {
    font-family: Lato-Regular;
}

.inputDate {
    height: 100px;
    background-color: red;
}

/**
        CONTACT
 */

.contactInput {
    color: #283E52;
    border: none;
    height: 35px;
    display: inline-block;
    margin-top: 5vh;
    border: 1px solid #283E52;
}

.contactInput {
    color: #283E52;
    border: none;
    height: 35px;
    display: inline-block;
    margin-top: 5vh;
    border: 1px solid #283E52;
}

.contactTextArea {
    min-height: 20vh;
    resize: none;
}


.nav-gerer {
    background-color: transparent;
    box-shadow: none;
    border: 0px;
}

.activeTab {
    border-bottom: 2px solid rgb(44,62,80);
}

.lienGerer a {
    color:black !important;
    font-family: Lato-Regular;
}
.lienGerer a:hover {
    background-color: red;
}
.lienGerer a:focus {
    background: transparent !important;
}
.rangeInput {
    margin-top: 28px !important;
}
/** {*/
/*border:1px solid black;*/
/*}*/
