{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>
            {% endfor %}
        </div>

        {% if isPaymentValidated %}
            <h4 class="text-center">Liens pour telecharger les photos</h4>
            {% for link in links %}
                <a href="{{ asset('uploads/photos/' ~ link) }}" download>Lien</a>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
