{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
    <h5 style="text-align: center">Entrez votre email pour recevoir les photos</h5>
    <div style="text-align: center">
        {{ form_start(form) }}
        {{ form_widget(form ) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
